@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
    text-align: center;
    padding: 20px;
}
.title h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
/* Table */
.crypto-table th {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}
